body, html {
    margin: 0;
    padding: 0;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
  }
  
  .centered-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #inputter {
    max-width: 400px;
    border-radius: 60px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.647);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #inputter label {
    font-weight: 400;
    margin: 10px;
    color: black;
    font-size: 33px;
  }
  
  #inputter input {
    text-align: center;
    width: 300px;
    margin: 10px;
    padding: 12px;
  }
  
  #inputter button {
    padding: 12px;
    border-radius: 21px;
    border: none;
    margin-top: 30px;
    margin-left: 0px !important;
    background-color:rgb(7, 108, 7);
    color: white;   
    cursor: pointer;
  }
  
  #inputter button:hover {
    background-color: rgb(1, 160, 1);
  }
  