#AboutUsPageH1{
    text-align: center;
    font-size: 63px;
    color: white;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#ForContent{
    text-align: center;
    font-size: 42px;
}
p,li,table{
    font-size: 21px;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}
li{
    margin-bottom: 30px;
}
#AboutUsStyling{
    padding-left: 15%;
}
#Decoration{
    font-size: 45px;
    text-align: center;
    color: green;
}
#ExploreButton{
    max-width: 300px;
    margin-left: 39%;
    border: 1.2px solid white;
}
#ExploreButton:hover{
    cursor: pointer;
    background-color: rgb(23, 41, 24);
    color: white;
}